.footer
{
    width: 600px;
    text-align: center;
    opacity: .15;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 100px;
}

.footer p
{
    font-size: 16px;
    text-align: center;
}

@media only screen and (max-width: 600px)
{
    .footer
    {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 80px;
        margin-bottom: 20px;
    }
    
    .footer p
    {
        font-size: 10px;
    }
}
