.galleryLink
{
    position: relative;
    display: flex;
}

.galleryLink p 
{
    text-align: center;
}

.galleryLink a
{
    color: white;
}

.title
{
    position: absolute;
    z-index: 200;
    text-align: center;
    padding-top: 45%;
    opacity: 0;
    transition-duration: 250ms;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    filter: blur(12px);
    font-family: Montserrat;
}

.title:hover
{
    opacity: 1;
    filter: blur(0);
}

.titleMobile
{
    position: absolute;
    z-index: 200;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: Montserrat;
    color: white;
    width: 100%;
    opacity: 1;
    bottom: 0;
    padding-top: .25rem;
    padding-bottom: .25rem;
}
.titleMobile p
{
    margin-bottom: 0;
}