.navbar
{
    color: #ff5032;
    border-bottom: 1px solid #555;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    opacity: 1;
    font-family: Montserrat;
}

.links
{
    color: #30ebff;
    display: flex;
    font-size: 20px;
    align-items: center;
}

.links img
{
    width: 2rem;
}